body {
  background-color: rgb(36, 30, 30);
  color: #dddddd;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}
.nav {
  width: 100%;
  padding: 20px 100px;
  /* border: 1px solid black; */
  background-color: rgba(44, 0, 0, 0.651);
}
.logo {
  font-size: 2rem;
  /* width: 10rem; */
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
}
.world {
  padding: 20px 1rem;
  font-size: 1.8rem;
}
.caption {
  font-size: 18px;
  padding: 1px 1rem 2rem 1rem;
}
.covid {
  font-weight: bold;
}
.table {
  padding: 1rem 0 5rem 0;
  width: 30%;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.table-data {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.nametag {
  padding: 50px 80px;
  text-align: center;
}

@media all and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  .wrapper {
    padding: 0 20px;
  }
  .nav {
    width: 100%;
    padding: 1rem 0;
  }
  .world {
    width: 100%;
  }
  .caption {
    width: 100%;
  }
  .table-data {
    display: none;
  }

  .nametag {
    width: 100%;
  }
  .table {
    width: 80%;
  }
}
