/* Common */
body {
  background-color: rgb(36, 30, 30);
  color: rgb(184, 184, 184);
  font-family: "Baloo Da 2", cursive;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

/* Nav */
.nav {
  /* width: 100%; */
  padding: 19px 100px;
  /* border: 1px solid black; */
  background-color: rgba(44, 0, 0, 0.651);
}
.logo {
  font-size: 2rem;
  /* width: 10rem; */
  padding: 0 10px;
  color: #c8d5f0;
  cursor: pointer;
}

/* World */
.world {
  height: 100vh;
  /* background: linear-gradient(
    to top,
    rgba(53, 0, 0, 0.2) 0%,
    rgba(53, 0, 0, 0.2) 10%,
    rgba(53, 0, 0, 0.3) 20%,
    rgba(53, 0, 0, 0.3) 30%,
    rgba(53, 0, 0, 0.4) 40%,
    rgba(53, 0, 0, 0.5) 50%,
    rgba(53, 0, 0, 0.6) 60%,
    rgba(53, 0, 0, 0.7) 70%,
    rgba(53, 0, 0, 0.8) 80%,
    rgba(53, 0, 0, 0.9) 90%,
    rgba(53, 0, 0, 1) 100%
  ); */
  /* clip-path: polygon(0% 0, 100% 0, 100% 80%, 0% 100%); */
}

.grid-col-3 {
  display: grid;
  text-align: center;
  padding-top: 5%;
  grid-template-columns: repeat(3, 1fr);
}

.world-text {
  width: 90%;
  font-family: "Sen", sans-serif;
  letter-spacing: 2px;
  padding: 6% 0 0 0;
  color: #fff1f1;
  font-size: 4.8rem;
}
.caption {
  width: 90%;
  font-size: 1.8rem;
  padding: 1% 1rem 1rem 1rem;
}
.grid-col-2 {
  display: grid;
  text-align: center;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
}
.title {
  color: rgb(224, 224, 224);
}
.value {
  color: rgb(240, 233, 233);
  font-size: 2rem;
}
.cases {
  padding: 10px;
  /* width: 90%; */
  border-radius: 5px;
  /* margin: 0 auto; */
  background-color: rgb(218, 196, 0);
}
.cases:hover {
  background-color: rgba(218, 196, 0, 0.808);
}
.deaths {
  padding: 10px;
  margin-top: 5px;
  /* width: 90%; */
  border-radius: 5px;
  /* margin: 0 auto; */
  background-color: rgb(165, 11, 11);
}
.deaths:hover {
  background-color: salmon;
}
.recovered {
  padding: 10px;
  margin-top: 5px;
  /* width: 90%; */
  border-radius: 5px;
  /* margin: 0 auto; */
  background-color: rgb(37, 165, 11);
}
.recovered:hover {
  background-color: rgba(37, 165, 11, 0.781);
}
.title {
  padding: 10px;
  font-size: 1.4rem;
}
.mortalityDoughnut {
  padding: 4rem 1rem 0 2rem;
}
.blockqoute {
  padding-top: 1rem;
}
.recoveryDoughnut {
  padding: 4rem 1rem 0 2rem;
}
.covid {
  font-weight: bold;
}
.table {
  padding: 3rem 0 5rem 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.red {
  color: rgb(248, 79, 79);
  font-size: 16px;
}
.red_200 {
  color: #ff0000;
}
.green {
  color: green;
}
.graph {
  padding-bottom: 3rem;
}

/* Search */

.field {
  display: flex;
  width: 100%;
  padding: 1rem 0.5rem;
}
.control {
  width: 80%;
}
.open,
.close {
  width: 10%;
}
.search {
  padding-top: 1rem;
  text-align: center;
}
.search input {
  width: 20rem;
  padding: 0.8rem;
  /* margin: 0 auto; */
  background-color: transparent;
  border: 2px solid rgba(109, 176, 231, 0.35);
  color: #fff;
  border-radius: 5px;
}
.search input:hover {
  background-color: rgba(109, 176, 231, 0.151);
}
.search input:focus {
  border: 2px solid #fff;
}
.search input::placeholder {
  text-align: center;
  color: #999898;
}

/* Table */

table.vitamins {
  /* display: none; */
  /* height: 500px; */
  text-align: center;
  width: 80%;
  padding-top: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  background: #212121;
  overflow-x: scroll;
  color: #fff;
}

table.vitamins th,
table.vitamins td {
  text-align: center;
}

table.vitamins thead {
  line-height: 12px;
  background: #021546;
  text-transform: uppercase;
}

table.vitamins thead th {
  color: rgb(255, 255, 255);
  padding: 10px;
  letter-spacing: 1px;
  vertical-align: bottom;
}

table.vitamins thead th:nth-child(1) {
  /* width: 20%; */
  text-align: center;
  padding-left: 20px;
}

/* table.vitamins thead th:nth-child(2) {
  width: 30%;
}

table.vitamins thead th:nth-child(3) {
  width: 15%;
}

table.vitamins thead th:nth-child(4) {
  width: 15%;
} */

table.vitamins tbody {
  height: 500px;
  font-size: 1em;
  line-height: 15px;
  overflow-x: scroll;
}

table.vitamins tbody tr {
  border-top: 2px solid rgba(109, 176, 231, 0.8);
  transition: background 0.6s, color 0.6s;
}

table.vitamins tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.2);
}

table.vitamins tbody tr:hover {
  color: #000000;
  background: rgba(255, 255, 255, 0.7);
  font-weight: 900;
}

table.vitamins tbody td {
  padding: 12px;
}

table.vitamins tbody tr:hover td:first-child {
  background: rgba(0, 0, 0, 0);
}

table.vitamins tbody td:first-child {
  text-align: left;
  padding-left: 20px;
  font-weight: 700;
  background: rgba(109, 176, 231, 0.35);
  transition: backgrounf 0.6s;
}

table.vitamins tfoot {
  font-size: 0.8em;
}

table.vitamins tfoot tr {
  border-top: 2px solid #2e63e7;
}

table.vitamins tfoot td {
  color: rgba(255, 255, 215, 0.6);
  text-align: left;
  line-height: 15px;
  padding: 15px 20px;
}

.nametag {
  padding: 50px 80px;
  text-align: center;
}

@media all and (max-width: 768px) {
  body {
    width: 100%;
    font-size: 13px;
  }
  .world {
    height: 570px;
    background: rgb(36, 30, 30);
    /* padding: 10px; */
    clip-path: none;
    margin-bottom: 60px;
    background-color: rgb(36, 30, 30);
  }
  .wrapper {
    padding: 0 20px;
    margin: 0 auto;
  }
  .nav {
    width: 100%;
    padding: 1rem 0 1rem 1rem;
  }
  .graph {
    display: none;
  }
  .world-text {
    width: 100%;
    padding: 1rem;
  }
  .caption {
    width: 90%;
  }
  .grid-col-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .mortalityDoughnut {
    display: none;
  }
  .recoveryDoughnut {
    display: none;
  }
  .nametag {
    width: 100%;
  }
  .table {
    width: 80%;
  }
  table.vitamins {
    font-size: 0.8em;
    margin-top: 5rem;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}
