.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}
.nav {
  padding: 20px 100px;
  border: 1px solid black;
  background-color: rgba(44, 0, 0, 0.651);
}
.logo {
  font-size: 2rem;
  width: 10rem;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
}
